head
  meta(http-equiv='Content-Type' content='text/html; charset=unicode')
  meta(name='ProgId' content='Word.Document')
  meta(name='Generator' content='Microsoft Word 15')
  meta(name='Originator' content='Microsoft Word 15')
  link(rel='File-List' href='Senza%20nome_file/filelist.xml')
  link(rel='Edit-Time-Data' href='Senza%20nome_file/editdata.mso')
  link(rel='themeData' href='Senza%20nome_file/themedata.thmx')
  link(rel='colorSchemeMapping' href='Senza%20nome_file/colorschememapping.xml')
  style.
.WordSection1
  p.MsoNormal(style='margin-left:120.0pt;text-indent:-120.0pt;tab-stops:\
  120.0pt;mso-layout-grid-align:none;text-autospace:none')
  table.TableNormal(border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100.52%;border-collapse:collapse;mso-yfti-tbllook:1184;\
  mso-padding-alt:0cm 0cm 0cm 0cm')
    tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;\
    height:521.9pt')
      td(width='27%' valign='top' style='width:27.9%;padding:0cm 0cm 0cm 0cm;\
      height:521.9pt')
        p.MsoNormal
          span(lang='EN-GB' style='mso-ansi-language:EN-GB')
            o:p &nbsp;
      td(width='43%' valign='top' style='width:43.12%;background:white;padding:0cm 0cm 0cm 0cm;\
      height:521.9pt')
        table.TableNormal(border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm')
          tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes')
            td(width='907' valign='top' style='width:680.05pt;padding:0cm 0cm 0cm 0cm')
          tr(style='mso-yfti-irow:1;height:466.7pt')
            td(width='907' valign='top' style='width:680.05pt;background:white;padding:\
            0cm 0cm 0cm 0cm;height:466.7pt')
              p.MsoNormal
                span(style='color:black;mso-color-alt:windowtext;\
                mso-fareast-language:SV;mso-no-proof:yes')
                  img(width='959' height='324' src='Senza%20nome_file/image002.jpg' v:shapes='Picture_x0020_3')
                o:p
              div(align='center')
                table.TableNormal(border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:\
                0cm 0cm 0cm 0cm')
                  tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;\
                  height:239.55pt')
                    td(width='804' valign='top' style='width:603.15pt;padding:14.2pt 25.5pt 14.2pt 25.5pt;\
                    height:239.55pt')
                      p(style='text-align:justify;line-height:115%')
                        span(style='font-family:\
                        "Arial",sans-serif;color:#222222;background:white')
                          | In allegato scheda
                          | lavoro relativa all&apos;intervento effettuato dal nostro tecnico Sig. NOME
                          | COGNOME
                        span(style='font-family:"Arial",sans-serif;color:#222222')
                          br
                          span(style='background:white')
                            span(style='font-variant-ligatures: normal;\
                            font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;\
                            -webkit-text-stroke-width: 0px;text-decoration-thickness: initial;\
                            text-decoration-style: initial;text-decoration-color: initial;float:none;\
                            word-spacing:0px')
                              | Vi ringraziamo qualora abbiate aderito al nostro
                              | sondaggio.
                          br(style='font-variant-ligatures: normal;\
                          font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;\
                          -webkit-text-stroke-width: 0px;text-decoration-thickness: initial;\
                          text-decoration-style: initial;text-decoration-color: initial;word-spacing:\
                          0px')
                          br(style='font-variant-ligatures: normal;font-variant-caps: normal;\
                          orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;\
                          text-decoration-thickness: initial;text-decoration-style: initial;\
                          text-decoration-color: initial;word-spacing:0px')
                          br(style='font-variant-ligatures: normal;font-variant-caps: normal;\
                          orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;\
                          text-decoration-thickness: initial;text-decoration-style: initial;\
                          text-decoration-color: initial;word-spacing:0px')
                          span(style='background:white')
                            span(style='font-variant-ligatures: normal;\
                            font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;\
                            -webkit-text-stroke-width: 0px;text-decoration-thickness: initial;\
                            text-decoration-style: initial;text-decoration-color: initial;float:none;\
                            word-spacing:0px') Risultato sondaggio:
                        span(style='font-family:"Arial",sans-serif')
                          o:p
                      ul(type='disc')
                        li(style='text-align:justify;line-height:115%;mso-list:l0 level1 lfo2')
                          span(style='font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"')
                            | Organizzazione
                            | intervento:
                          span(style='font-family:"Arial",sans-serif')
                            o:p
                        li(style='color:#425563;text-align:justify;line-height:115%;mso-list:\
                        l0 level1 lfo2')
                          span(style='font-family:"Arial",sans-serif;\
                          mso-fareast-font-family:"Times New Roman";color:windowtext')
                            | Consegna
                            | Ricambi:
                          b
                            span(style='font-size:14.0pt;line-height:115%;\
                            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"')
                              o:p
                        li(style='color:#425563;text-align:justify;line-height:115%;mso-list:\
                        l0 level1 lfo2')
                          span(style='font-family:"Arial",sans-serif;\
                          color:#222222;background:white') Esecuzione Intervento:
                          b
                            span(style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;\
                            mso-fareast-font-family:"Times New Roman"')
                              o:p
                      p(style='margin-left:36.0pt;text-align:justify;line-height:115%')
                        b
                          span(style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;\
                          mso-fareast-font-family:"Times New Roman";color:#425563')
                            o:p &nbsp;
                      p.MsoNormal(style='mso-layout-grid-align:none;text-autospace:none')
                        span(style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:\
                        "Times New Roman";mso-fareast-language:EN-IN')
                          | Grazie per la
                          | collaborazione.
                        b(style='mso-bidi-font-weight:normal')
                          span(style='font-size:14.0pt;font-family:"Arial",sans-serif;color:#425563')
                            o:p
          tr(style='mso-yfti-irow:2;mso-yfti-lastrow:yes;height:32.15pt')
            td(width='907' valign='top' style='width:680.05pt;padding:0cm 0cm 0cm 0cm;\
            height:32.15pt')
              p.MsoNormal(align='center' style='text-align:center')
                span(style='font-size:10.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
                "Times New Roman";mso-fareast-language:SV;mso-no-proof:yes')
                  img(width='959' height='89' src='Senza%20nome_file/image004.png' v:shapes='Picture_x0020_4')
                span(style='font-size:10.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:\
                "Times New Roman";mso-fareast-language:ZH-CN')
                  o:p
      td(width='29%' valign='top' style='width:29.0%;padding:0cm 0cm 0cm 0cm;\
      height:521.9pt')
        p.MsoNormal
          o:p &nbsp;
  p.MsoNormal
    span(lang='EN-IN' style='mso-ansi-language:EN-IN')
      o:p &nbsp;
